## Functions in python

In [1]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [3]:
def even_or_odd(num):
    if num % 2 == 0:
        return "the number is even"
    else:
        return "the number is odd"

In [ ]:
## call the function
even_or_odd(24)

'the number is even'

In [5]:
## function with multiple paramters 

def add(a,b):
    return a + b
result=add(2,4)
print(result)

6

In [6]:
## Default Parameters 

def greet(name):
    print(f"Hello {name} Welcome to the paradise")

greet("John")

Hello John Welcome to the paradise

In [7]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome to the paradise")
    
greet()  # Calls with default parameter

Hello Guest Welcome to the paradise

In [1]:
## Variable length arguments 
## Positional and keywords arguments 

def print_numbers(*Aditya):
    for number in Aditya:
        print(number)

In [2]:
print_numbers(1,2,3,4,5,6,7,"Aditya")

1
2
3
4
5
6
7
Aditya

In [11]:
## Positional arguments 
def print_details(**kargs):
    for key,value in kargs.items():
        print(f"{key} : {value}")

In [12]:
print_details(name="Aditya",age="22",country="India")

name : Aditya
age : 22
country : India

In [1]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"Positional argument: {val}")
        
    for key, value in kwargs.items():
        print(f"Keyword argument: {key} = {value}")

In [3]:

print_details(1,2,3,4,"Aditya Singh",name="Aditya",age="32",country="India")

Positional argument: 1
Positional argument: 2
Positional argument: 3
Positional argument: 4
Positional argument: Aditya Singh
Keyword argument: name = Aditya
Keyword argument: age = 32
Keyword argument: country = India

In [5]:
## Return Statements
def multiply(a,b):
    return a * b    
result = multiply(2, 3)
print(result)

6

In [6]:
## Return multiple parameters
def multiple(a,b):
    return a*b,a

multiply(2,3)

6

In [3]:
def print_details(*args):
    for val in args:
        print(f"positional argument: {val}")

In [4]:
print_details(10,20,30,"Aditya","Singh")

positional argument: 10
positional argument: 20
positional argument: 30
positional argument: Aditya
positional argument: Singh

In [9]:
def print_details(**kwargs):
    for key,values in kwargs.items():
        print(f"keyword argument: {key} = {values}")

In [10]:
print_details(name="Aditya", age=22, country="India")

keyword argument: name = Aditya
keyword argument: age = 22
keyword argument: country = India

In [11]:
def print_even_numbers(numbers):
    even_numbers = []
    for num in numbers:
        if num%2 == 0:
            even_numbers.append(num)
    return even_numbers

In [12]:
print_even_numbers([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [13]:
def print_odd_even_numbers(numbers):
    odd_numbers = []
    even_numbers = []
    for num in numbers:
        if num % 2 == 0:
            even_numbers.append(num)
        else:
            odd_numbers.append(num)
    return odd_numbers, even_numbers

In [17]:
print_odd_even_numbers([12,33,443,532,675,6762,353,243,4656])

([33, 443, 675, 353, 243], [12, 532, 6762, 4656])