## Map Function

In [1]:
def square(x):
    return x*x

square(10)

100

In [ ]:
# map function without lambda 

numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [3]:
## lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [4]:
### Map multiple iterabales 

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [5]:
words=['hello','world','python']
upper_word=list(map(str.upper,words))
print(upper_word)

['HELLO', 'WORLD', 'PYTHON']

In [6]:
def get_name(person):
    return person['name']

people=[
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 35}
]

In [7]:
list(map(get_name, people))

['Alice', 'Bob', 'Charlie']