### Sets

In [1]:
## create a set 
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_set=set([1,2,3,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [5]:
### Basic sets operations 
### Adding and removing elements
my_set.add(6)
print(my_set)
my_set.remove(2)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

In [6]:
## Remove the elements from a set 
my_set.remove(6)
print(my_set)

{1, 3, 4, 5}

In [7]:
my_set.discard(11)
print(my_set)

{1, 3, 4, 5}

In [8]:
## Pop method 
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{3, 4, 5}

In [9]:
## Clear all the elements
my_set.clear()
print(my_set)

set()

In [10]:
## set membership test 
my_set={1,2,3,4,5}
print(3 in my_set)
print(6 in my_set)

True
False

In [11]:
## Mathematical operations 
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [13]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference 
difference_set=set1.difference(set2)
print(difference_set)

{1, 2, 3}

In [14]:
set2.difference_update(set1)
print(set2)

{7, 8, 9}

In [15]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
## Sets Methods 
set1={1,2,3,4,5,6}
set2={4,5,6}

## is subset
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [21]:

lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [22]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'tutorial', 'discussing', 'about', 'this', 'we', 'In', 'sets', 'are'}
8