### Tuple

In [1]:
## creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
print(numbers[2])
print(numbers[-1])

3
6

In [9]:
numbers[0:4] # Slicing the tuple to get the first four elements

(1, 2, 3, 4)

In [10]:
### Tuple Operations
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [11]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [12]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
## Immutable Nature of Tuples
## Tuples are immutable, meaning their elements cannot be changed after creation.

lst = [1,2,3,4,5]
print(lst)

lst[1]="Aditya"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Aditya', 3, 4, 5]

In [16]:
numbers[1]="Aditya" # This will raise an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [18]:
numbers

(1, 2, 3, 4, 5, 6)

In [19]:
## Tuple Methods
print(numbers.count(2))  # Count occurrences of 2 in the tuple
print(numbers.index(3))  # Find the index of the first occurrence of 3 in

1
2

In [20]:
## Packing and unpacking tuple
## packing 
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [21]:
## Unapcking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [22]:
## Unapcking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [24]:
## Nested Tuple
## Nested list 
lst=[[1,2,3],[4,5,6],[1,"hello",3.14,"c"]]
lst[0][0:2]

[1, 2]

In [25]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [26]:
nested_tuple=((1,2,3),(4,5,6),(1,"hello",3.14,"c"))
nested_tuple[2][0:3]

(1, 'hello', 3.14)

In [27]:
## Iterating over nested tuple 
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=' ')
    print()  # New line after each sub-tuple

1 2 3
4 5 6
1 hello 3.14 c